    body {
        background-color: #C0F56E;
    }

    #wrapper{
        background-color: rgba(255, 255, 255, .7);
        width: 60%;
        margin: 0 auto;
        padding: 20px 10px;
        text-align: center;
        border: 1px solid rgba(0, 0, 0, .5);
        border-radius: 5px;
        box-shadow: 13px 20px 33px 0px rgba(0,0,0,0.75);
    }

    #page_title{
        font-size: 30px;
        margin-bottom: 10px;

    }

    #choose_lang, #choose_theme{
        position: absolute;
        top: 0;
    }

    #choose_lang{
        left: 0;
    }

    #choose_theme{
        right: 0;
    }

    .lang, .theme{
        display: block;
        text-align: center;
        padding: 5px 16px;
        margin: 5px;
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    }

    .lang.active, .theme.active{
        color: rgb(212,75,56);
        background: #fff;
        box-shadow: none;
    }

    .lang.active:hover, .theme.active:hover{
        color: rgb(152,15,0);
        background: #fff;
    }

    .menu a, .lang, .theme, form button{
        color: #fff;
        text-decoration: none; 
        background: rgb(212,75,56);
        border-radius: 5px;
    }

    .menu a, form button{
        padding: 5px;
        box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.75);
    }

    .menu a:hover, .lang:hover, .theme:hover, form button:hover{
        background: rgb(232,95,76);
    }

    .menu a:active, .lang:active, .theme:active, form button:active{
        background: rgb(152,15,0);
        box-shadow: none;
    }

    .content.articles, .article_content{
        text-align: left;
    }

    .content.articles a{
        text-decoration: none; 
        color: #000;
    }

    .content.articles a:hover{
        border-bottom: 1px solid blue;
    }

    .content .title{
        font-size: 30px;
    }

    .message{
        text-align: center;
        // width: 250px;
        border: 2px solid transparent;
        color: #000;
        background-color: transparent;
    }

    /*.done {
        border-color: #4F8A10;
        color: #4F8A10;
        background-color: #DFF2BF;
    }*/

    .message.info{
        border-color: #00529B;
        color: #00529B;
        background-color: #BDE5F8;
    }

    .message.error{
        border-color: #D8000C;
        color: #D8000C;
        background-color: #FFBABA;
    }