    body {
        background-color: #768d87;/*#C0F56E light green*/
    }

    #wrapper{
        background-color: rgba(255, 255, 255, .7);
        width: 60%;
        margin: 0 auto;
        padding: 20px 10px;
        text-align: center;
        border: 1px solid rgba(0, 0, 0, .5);
        border-radius: 5px;
        box-shadow: 13px 20px 33px 0px rgba(0,0,0,0.75);
        /*display: flex;*/
    }

    #page_title{
        font-size: 30px;
        margin-bottom: 10px;
    }

    #choose_theme{
        position: absolute;
        top: 0;
    }

    #choose_theme{
        right: 0;
    }

    .theme{
        display: block;
        text-align: center;
        padding: 5px 16px;
        margin: 5px;
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    }

    .theme.active{
        color: #599bb3;/*rgb(212,75,56) orange*/
        background: #fff;
        box-shadow: none;
    }

    .theme.active:hover{
        color: #29668f;/*rgb(152,15,0) dark orange*/
        background: #fff;
    }

    .menu a, .theme, form button{
        color: #fff;
        text-decoration: none; 
        background: #599bb3;/*rgb(212,75,56) orange*/
        border-radius: 5px;
    }

    .menu a, form button{
        padding: 5px;
        box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.75);
    }

    .menu a:hover, .theme:hover, form button:hover{
        background: #408c99;/*rgb(232,95,76) light orange*/
    }

    .menu a:active, .theme:active, form button:active{
        background: #29668f;/*rgb(152,15,0) dark orange*/
        box-shadow: none;
        position:relative;
        top:1px;
    }

    .content.articles, .article_content{
        text-align: left;
    }

    .content.articles a{
        text-decoration: none; 
        color: #000;
    }

    .content.articles a:hover{
        border-bottom: 1px solid blue;
    }

    .content .title{
        font-size: 30px;
    }

    .message{
        text-align: center;
        /* width: 250px;*/
        border: 2px solid transparent;
        color: #000;
        background-color: transparent;
    }

    /*.done {
        border-color: #4F8A10;
        color: #4F8A10;
        background-color: #DFF2BF;
    }*/

    .message.info{
        border-color: #00529B;
        color: #00529B;
        background-color: #BDE5F8;
    }

    .message.error{
        border-color: #D8000C;
        color: #D8000C;
        background-color: #FFBABA;
    }